<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">

            <div class="card-body ">
                {{#if img}}
                <img loading="lazy" class="card-img-top" src="{{img}}" alt="Card image cap">
                {{/if}}
                <h4 class="card-title d-flex justify-content-betwen align-items-center">
                    {{title}} <a href="/notes/edit/{{_id}}"><i class="fa fa-pencil"></i></a>
                </h4>

                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <!-- TODO: errores cuando no haya descripcion o titulo -->
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                            <small class="text-muted"> {{createdAt}}  </small>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{>add_button}}